<div #zoomContainer class="zoom-container">
  <div class="zoom-toolbar">
    <button (click)="resetZoom()">Reset</button>
    <button (click)="mode()" class="bg-info mx-2">{{modeType=='edit' ?  'edit mode'  : 'list mode'}}</button>
  </div>

  <div class="zoom-scroll-box"
    (mousedown)="startPan($event)"
    (mousemove)="onPan($event)"
    (mouseup)="endPan()"
    (wheel)="onZoom($event)"
    (touchstart)="onTouchStart($event)"
    (touchmove)="onTouchMove($event)"
    (touchend)="endPan()"
    >
    <div
      #zoomWrapper
      class="zoom-wrapper"
      [ngClass]="{ 'grabbing': isPanning }"
      [ngStyle]="{
        'transform': 'scale(' + zoom + ') translate(' + offsetX + 'px,' + offsetY + 'px)'
      }"
    >
      <p-organizationChart [value]="data">
        <ng-template let-node pTemplate="person">
          <app-member-tree-card (deleteItem)="deleteItem($event)" (click)="toggleNode(node)" [@expandCollapse] [person]="node" [mode]="modeType"></app-member-tree-card>
        </ng-template>
      </p-organizationChart>
  
    </div>
  </div>
</div>


