  <!-- Start:: row-1 -->
  <div class="row">
    <div class="col-xl-12">
        <div class="d-flex justify-content-between mb-3">
            <div class="h5 fw-medium">Team</div>
            <div>
                <button (click)="openWindowCustomClass(content)" class="btn btn-sm btn-success-light btn-wave" data-bs-toggle="modal" data-bs-target="#add-member"><i class="ri-add-line me-2"></i> Add Member</button>
                <ng-template #content let-modal>
                  <!-- Start:: add-members modals -->
                    <div class="modal-header">
                        <h6 class="modal-title" id="addmemberLabel">Add Member</h6>
                        <button   (click)="modal.dismiss('Cross click')" type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body px-4">
                        <div class="row">
                            <div class="col-xl-12">
                                <label for="team-name01" class="form-label">Name</label>
                                <input type="text" class="form-control" id="team-name01" placeholder="Enter Name">
                            </div>
                            <div class="col-xl-12">
                                <label for="team-mail01" class="form-label">Mail ID</label>
                                <input type="text" class="form-control" id="team-mail01" placeholder="Enter Mail Address">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button   (click)="modal.dismiss('Cross click')" type="button" class="btn btn-sm btn-light" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-sm btn-primary">Add</button>
                    </div>
        <!-- End:: add-members modals -->
                    </ng-template>
            </div>
        </div>
        <div class="row">
            @for (item of teamData; track $index) {
                <div class="col-xxl-3 col-lg-6"> 
                    <app-member-team-card [person]="item"></app-member-team-card>
                </div>
            }
           
        </div>    
        <nav aria-label="...">
            <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                <li class="page-item active" aria-current="page">
                    <span class="page-link">2</span>
                </li>
                <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0);">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- End:: row-1 -->