.text-blue{
    color: #368de9 !important;
}
.text-subtitle-color{
    color: #808890 !important;
}

.text-phone-color{
    color: #979da4 !important;
}

.action-btn.red:hover { background-color: rgba(244, 67, 54, 0.1); }

.action-btn.blue:hover { background-color: rgba(33, 150, 243, 0.1); }

.action-btn.green:hover { background-color: rgba(76, 175, 80, 0.1); }