<div class="card custom-card min-width border rounded m-0 cursor-pointer">
    <div class="top-left"></div>
    <div class="top-right"></div>
    <div class="bottom-left"></div>
    <div class="bottom-right"></div>
    <div class="d-flex justify-content-between align-item-start">
        
        <div class="card-footer border-block-start-dashed border-top text-center p-0">
            <div class="d-flex flex-column flex-column-reverse justify-content-start align-items-start">
                @if(modeType=='edit'){<div (click)="onDelete(deleteModal, $event)" data-bs-target="#delete-member" class="text-center px-2 flex-fill action-btn red">
                    <a class="text-danger fs-18"><i class="ri-delete-bin-fill me-1 d-inline-block"></i></a>
                </div>}
                @if(modeType=='edit'){<div (click)="onEdit(AddOrEditMember, $event)" class="text-center action-btn blue px-2 flex-fill">
                    <a class=" fs-18"><i class="text-blue ri-pencil-fill me-1 d-inline-block"></i></a>
                </div>}
                @if(modeType=='edit'){<div (click)="onAddNew(AddOrEditMember, $event)" class="text-center px-2 action-btn green mt-2 flex-fill">
                    <a class="text-success fs-18"><i class="ri-user-add-fill me-1 d-inline-block"></i></a>
                </div>}
                @if(data.children && data.children.length){<div class=" text-center w-5 h-5 rounded-circle border flex-fill m-2 overflow-hidden mb-0 mt-2">
                    <a class="text-info collapse-button fs-18"><i class="collapse-icon" [class]="data.expanded ? 'ri-arrow-down-s-line' : 'ri-arrow-up-s-line' "></i></a>
                </div>}
            </div>
        </div>
        <div class="card-body p-2 text-center d-flex flex-row-reverse align-itemms-start justify-content-start">
            <span class="avatar avatar-xl team-avatar p-1 mb-3">
                <img [src]="item.src && item.src!='' ? item.src : './assets/images/faces/9.jpg'" alt="">
            </span>
            <div class="team-member-details">
                <span class="mb-0 fw-medium fs-16 text-end d-block me-2">
                    <a>{{item.name}}</a>
                </span>
                <span class="mb-0 fs-13 text-subtitle-color mt-1 text-end d-block me-2">{{item.mail}}</span>
                <div class="btn-list mt-2 me-1">
                    <!-- <div class="w-100 d-flex justify-content-center align-item-center">
                        <i class="ri-phone-fill text-info mx-1 d-inline-block"></i>
                        <span class="fs-12 text-phone-color mt-1 text-muted">0912345678</span>
                    </div> -->
                    <button class="btn btn-sm btn-icon btn-danger-light btn-wave waves-effect waves-light">
                        <i class="ri-phone-fill fw-bold"></i>
                    </button>
                    <button class="btn btn-sm btn-icon btn-secondary-light btn-wave waves-effect waves-light">
                        <i class="ri-message-2-fill fw-bold"></i>
                    </button>
                    <button class="btn btn-sm btn-icon btn-warning-light btn-wave waves-effect waves-light">
                        <i class="ri-mail-fill fw-bold"></i>
                    </button>
                    <button class="btn btn-sm btn-icon btn-success-light btn-wave waves-effect waves-light">
                        <i class="ri-vidicon-line fw-bold"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- start delete modal -->
<ng-template #deleteModal let-modal>
    <!-- Start:: add-members modals -->
    <div class="modal-header">
        <h6 class="modal-title" id="deletememberLabel">Hint</h6>
        <button (click)="modal.dismiss('Cross click')" type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
    </div>
    <div class="modal-body px-4">
        <div class="row">
            Are you Sure for removing {{item.name}}
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="modal.dismiss('Cross click')" type="button" class="btn btn-sm btn-light" data-bs-dismiss="modal">Cancel</button>
        <button (click)="modal.close('delete')" type="button" class="btn btn-sm btn-danger">yes</button>
    </div>
    <!-- End:: add-members modals -->
</ng-template>
<!-- end delete modal -->

<!-- start add/edit modal -->
 <ng-template #AddOrEditMember let-modal>
    <!-- Start:: add-members modals -->
    <div class="modal-header">
        <h6 class="modal-title" id="addmemberLabel">{{action=='edit' ? 'edit ' + memberForm.value.name : 'Add Member'}}</h6>
        <button (click)="modal.dismiss('Cross click')" type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
    </div>
    <form [formGroup]="memberForm">
        <div class="modal-body px-4">
            <div class="row">
                <div class="mb-4 d-sm-flex align-items-center gap-1 flex-wrap">
                    <span class="mb-0 me-3 avatar avatar-xxl">
                        <img [src]="url1 ? url1 : './assets/images/faces/9.jpg'" alt="" class="profile-img">
                        <span (change)="handleFileInput($event)" class="badge bg-primary avatar-badge cursor-pointer">
                            <input type="file" name="photo" class="position-absolute w-100 op-0 profile-change">
                            <i class="fe fe-camera"></i>
                        </span>
                        @if(url1){<span (click)="deleteImage()" class="badge bg-danger avatar-badge mt-4 cursor-pointer">
                            <i class="fe fe-trash "></i>
                        </span>}
                    </span>
                    <div class="">
                        <div class="fw-medium lh-1"> {{memberForm.controls['name'].value}} </div>
                        <div class="fs-12 text-muted">{{memberForm.controls['mail'].value}}</div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <label for="team-name01" class="form-label">Name*</label>
                    <input formControlName="name" type="text" class="" [class]="memberForm.controls['name'].invalid && isSubmit ? 'form-control bg-erroInput' : 'form-control' " id="team-name01" placeholder="Enter Name">
                </div>
                <div class="col-xl-12">
                    <label for="team-role" class="form-label">Role*</label>
                    <input formControlName="mail" type="text" class="form-control" [class]="memberForm.controls['mail'].invalid && isSubmit ? 'form-control bg-erroInput' : 'form-control' " id="team-role" placeholder="Enter Role">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button (click)="modal.dismiss('Cross click')" type="button" class="btn btn-sm btn-light" data-bs-dismiss="modal">Cancel</button>
            @if(action=='edit'){<button (click)="edit(modal)" type="button" class="btn btn-sm btn-primary">edit</button>}
            @if(action=='add'){<button (click)="addNew(modal)" type="button" class="btn btn-sm btn-primary">add</button>}
        </div>
    </form>
    <!-- End:: add-members modals -->
</ng-template>
<!-- end add/edit modal -->


